

@import '../../style/var.scss';
@import '../../style/mixins.scss';

.figure-container {

    background-color: $primary;

    border-radius: $main-border-radius;

    img {
        width: 100%;
        border-radius: $main-border-radius;
    }

    figcaption {
        padding: 0.5rem 0;
        text-align: center;
    }
}