

@import '../../style/var.scss';
@import '../../style/mixins.scss';

.figure-container {

    background-color: $primary;

    border-radius: $main-border-radius;

    img {
        width: 100%;
        border-radius: $main-border-radius;
    }

    figcaption {
        padding: 0.5rem 0;
        text-align: center;
    }

    @media (min-width: $tablet) {

        max-width: 50%;
        
        figcaption {
            padding: 1.5rem 0;
        }
    }
}