@import '../../style/var.scss';
@import '../../style/mixins.scss';


.input-group {
  position: relative;
  margin: 1rem 0;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: $primary;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-label.filled {
  top: -0.8rem;
  left: 0;
  font-size: clamp(1rem, 3vw, 2.5rem);
  color: $white;
}

input {
  width: 100%;
  padding: 1rem;
  border: 1px solid $white;
  border-radius: 0.5rem;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: $secondary;
  }
}

input[type="textarea"] {
  height: 12vh;
}

  