

@import '../../style/var.scss';

.mainButton {
    width: max-content;
    padding: 1rem 1.5rem;
    border: 1px solid $primary;

    font-size: clamp(1rem, 3vw, 4rem);

    border-radius: 1rem;

    background-color: $secondary;
    color: $white;
}