
@import '../../style/var.scss';
@import '../../style/mixins.scss';


.dogPage {
    @include container();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & > h2 {
        text-align: center;
    }

    .dogPage__more {
        width: 35dvw;
        max-width: 350px;
        padding: 0.75rem 1rem;
        border-radius: $main-border-radius;
        color: $white;
        background-color: $primary;
    }
}


.dogPage__content {

    display: flex;
    justify-content: center;
    align-items: center;

    .animal {
        width: 35dvw;
    }

    img {
        border-radius: 1rem;
    }

    .animal__description {
        //padding: 0.5rem 0;
    }

    & .animal__buttons {
        display: none;
    }
}