

@import '../../style/var.scss';
@import '../../style/mixins.scss';

.aboutUs {
    @include container();

    p {
        padding: calc($list-item-padding * 2) 0;
    }

    .aboutUs__item:not(:last-of-type) {
        padding-bottom: 2rem;
    }

    .aboutUs__item:last-child p {
        padding-bottom: 0;
    }


    @media (min-width: $large) {
        .aboutUs__item {
            display: flex;
            gap: 2rem;
        }

        .aboutUs__item:nth-child(even) {
            flex-direction: row-reverse;
        }

        p {
            max-width: 45%;
        }
    }
}