@import '../../style/var.scss';


.language_toggle {
    select {
        padding: 0.5rem 1rem;

        border-radius: $main-border-radius;

        color: $primary;

        appearance: none;
    }
}