

@import '../../style/var.scss';
@import '../../style/mixins.scss';

.search {
    @include container($paddingY: 0, $marginTop: 0);

    background-color: $secondary;

    &__title {
        font-size: clamp(2rem, 8vw, 15rem);
        padding-bottom: 1.5rem;

        text-align: center;
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2rem 0;

        gap: 1rem;

        button {
            border: 1px solid $secondary;
            background-color: $primary;
        }
    }

    .card-container {
        display: inline-block;

        &.rotate {
            animation: rotate 1s ease-in-out;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}