

@import '../../style/var.scss';
@import '../../style/mixins.scss';

.search {
    @include container($paddingY: 0, $marginTop: 0);

    background-color: $secondary;

    &__title {
        font-size: clamp(2rem, 8vw, 15rem);
        padding-bottom: 1.5rem;

        text-align: center;
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2rem 0;

        gap: 1rem;

        button {
            border: 1px solid $secondary;
            background-color: $primary;
        }
    }
}