@import '../../style/var.scss';
@import '../../style/mixins.scss';



.contactForm {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    margin: 2rem 0;
    border-radius: $main-border-radius;

    background-color: $primary;

    .contactForm__item {
        min-width: 185px;

        svg {
            width: 1.25rem;
            height: 1.25rem;
            fill: $secondary;
        }
    }

    button {
        width: 100%;
    }
}

.contactForm__item {
    div {
        display: flex;
        align-items: center;

        gap: 1rem;
    }

    a {
        display: flex;
    }
}