@import './var.scss';

* {
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    font-size: 16px;
    color: $white;
    background-color: $secondary;
}