

//screens
$tablet: 767px;
$large: 1024px;
$laptop: 1440px;

//components
$heade-height: 10dvh;

//colors
$purple:  #A48D6E;
$white: #FAF3E0;
$primary: #79583A;
$secondary: #87C7B2;


//padding
$list-item-padding: 0.5rem;
$list-padding-x: 4rem;

//border-radius
$main-border-radius: 20px;