

//screens
$tablet: 767px;
$large: 1200px;
$laptop: 1440px;

//components
$heade-height: 10dvh;

//colors
$light-blue: #8D95D6;
$orange: #F28927;
$purple: #6F6893;
$grey: #767676;
$white: #FAF3E0;
$primary: #efa489;
$secondary: #8bdcd6;


//padding
$list-item-padding: 0.5rem;
$list-padding-x: 4rem;

//border-radius
$main-border-radius: 20px;