
@import '../../style/var.scss';
@import '../../style/mixins.scss';

.animals__title {
    padding: 0 2rem;

    font-size: clamp(2rem, 8vw, 8rem)
}

.animals__list {
    @include container();
    display: flex;
    gap: 2rem;

    overflow-x: scroll;
    scroll-behavior: smooth;

    img {
        height: 35vh;
    }
}

.animal__choice:nth-child(2) {
    display: none;
}

.animals__more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem;

    &:last-of-type {
        padding: 2rem 0;
    }

    button {
        border: 1px solid $secondary;
        background-color: $primary;
    }
}