

@import '../../style/var.scss';
@import '../../style/mixins.scss';

.about {
    @include container();

    text-align: center;


    &__description {
        padding: 2rem 0;

        font-size: clamp(0.75rem, 3.5vw, 5rem);
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }


    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 15vh;


        background-image: url(../../../public/images/aboutBg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &--title {
            padding: 1rem 0;

            font-size: clamp(1.25rem, 4.5vw, 10rem);
        }

        &--content {
            max-width: 50%;
            padding-bottom: 1rem;

            font-size: clamp(0.75rem, 3.5vw, 5rem);
        }
    }
}