

@import '../../style//var.scss';
@import '../../style/mixins.scss';

.advise__page {
    @include container();
    padding-bottom: 0;

    .advise__content { margin: 2rem 0; }

    .mainButton {
        margin: 0 auto;
        display: flex;
        background-color: $primary;
    }
}