

@import '../../style/var.scss';
@import '../../style/mixins.scss';

.mapContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: $main-border-radius;
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: $main-border-radius;
    }

    @media (min-width: $large) {
        width: 75%;
        max-height: 75dvh;
    }
}